{% extends 'base/base.html' %}
{% load staticfiles %}
{% block navbar%}
{% endblock %}

{% block header %}

<style>
    .primercolor { background   : #6dccaa;
        color           : white;
        font-family     : calibri;
        font-weight     : bold;
        font-size       : 26px;
    }
        seccionBlanca
</style>

<div class="row primercolor">
        <div class="col-xs-12 center-xs">
         <img class="img-responsive"  src="{% static 'img/logo.png' %}">
        </div>      
</div>  

{% endblock %}
{% block content %}

<center><h2><p>Recuperar contraseña</p></h2></center> 
<div class="row">
	<div class="col-xs-12 center-xs">
	<form method="post">
		{% csrf_token %}
		<label for="id_email">Correo:</label> {{ form.email }} 
		<input type="submit" value="Enviar"/>
	</form>
	</div>
</div>

{% endblock %}
{%block footer %}
{% endblock %}