{% load staticfiles %}
<header>

<link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>
	.primercolor { background	: #6dccaa;
		color			: white;
		font-family		: calibri;
		font-weight		: bold;
		font-size		: 24px;
	}
		seccionBlanca
</style>

		<div class="row primercolor">
			<div class="col-xs-12 col-sm-4 center-xs">
			<img src="{% static 'img/logo.png' %}">
			</div>		
			<div class="col-xs-12 col-sm-2 center-xs">
			<p> Inicio</p> 
			</div>
			<div class="col-xs-12 col-sm-2 center-xs">
			<p>Quiénes Somos</p>
			</div>
			<div class="col-xs-12 col-sm-2 center-xs">
				<p>Servicios </p>
			</div>
			<div class="col-xs-12 col-sm-2 center-xs">
				<p> Contáctanos</p> 
			</div>				
			<div class="col-xs-12 center-xs">
		</div>

</header>