{% extends 'base/base.html' %}

{% block content %}
<p>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Nombre</th>
			<th>Raza</th>	
			<th>Descripcion</th>
			<th>Estado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
			{% for mascota in object_list %}
			<tr>
				<td>{{ mascota.foto }}</td>
				<td>{{ mascota.nombre }}</td>
				<td>{{ mascota.raza }}</td>
				<td>{{ mascota.descripcion }}</td>
				<td>{{ mascota.estado }}</td>
				<td>
					<a class="btn btn-success" href={% url 'mascota:mascota_editar' mascota.id %}>Editar</a>
					<a class="btn btn-danger" href={% url 'mascota:mascota_eliminar' mascota.id %}>Eliminar</a>
				</td>
			{% endfor %}

		{% else %}
		<h1>No hay registro de Mascotas Disponibles</h1>
		{% endif %}
	</tbody>
</table>

</p>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
    {% if page_obj.has_previous %}
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Anterior</a>
      {% endif %}
    </li>
    <li class="page-item">
    	{% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      {% endif %}
    </li>
  </ul>
</nav>

{% endblock %}

{%block footer %}
{% endblock %}